<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316873517187-hpk6up5vvfdeqv7dilffl9cmhoheacc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316873517187-hpk6up5vvfdeqv7dilffl9cmhoheacc5</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-LpetV095xgTRDHREXjnD1Lvv5UlxoM</string>
	<key>GCM_SENDER_ID</key>
	<string>316873517187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-notification-19402</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-notification-19402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316873517187:ios:ce28d166baa6a924bf13b6</string>
</dict>
</plist>